body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#navbar {
    width: 15%; /* Updated to take 15% of the screen width */
    height: 100%; 
    background-color: #333; /* Dark grey background color */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#title {
    color: white; /* Text color set to white */
    text-align: center; /* Center the title */
    margin-top: 50px;
}

#logo {
    margin-top: 20px; /* Adjust margin-top to create space */
    text-align: center; /* Center the logo text */
}

#logo img {
    max-width: 100%; /* Updated max width to 60% */
    height: auto;
}

#new-thread-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    font-size: large;
}

#new-thread-button:hover {
    background-color: #0056b3;
}

#chat-container {
    width: 85%; /* Updated to take 85% of the screen width */
    height: 100%; /* Make it full height */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px; /* Add padding to create space from all sides */
}

#conversation {
    flex-grow: 1;
    border-radius: 10px;
    overflow-y: auto;
    padding: 20px;
    background-color: #e9e9e9;
}

#conversation p {
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
}

.user-message {
    background-color: #cbc6f8;
    
}

#message-form {
    display: flex;
    padding: 10px;
    height: 50px;
}

#user-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
}

#send-button {
    width: 120px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: large;
}

#send-button:hover {
    background-color: #0056b3;
}
